.classMain {
    background-color:#eef0f2;
}
.divInfoHome{
    display:flex;
}
.divInfoH {
    width:20%;
    color:#001219;
    padding:13% 10% 10% 10%;
}
.divInfoHome h1 {
    font-size:40px;
}
.divInfoHome h2 {
    font-size:30px;
}
.divInfoHome h3 {
    font-size:25px;
}
.btnContactHome{
    margin-top:5%;
    padding:5px 15px 5px 15px;
    border:none;
    background-color:#001219;
    color: #fafaff;
    border-radius:5px;
    font-size:20px;
}
.btnContactHome:hover {
    cursor: pointer;
    background-color:#4B6E8F;
    color: #001219;
}
.divImageHome{
    width:30%;
    margin:auto;
}
.classImageHome{
    width:100%;
    border-radius:50%;
}
.divSkills {
    width:60%;
    text-align:center;
    display:grid;
    grid-template-columns:repeat(5,20%);
    grid-template-rows:repeat(4,100px);
}
.divSkills{
    margin:auto;
    text-align:center;
    margin-bottom:4%;
    padding:2%;
    border:2px solid #001219;
    border-radius:20px;
    background-color:#4B6E8F;
}
.divSkillsItems {
    width:90%;
    margin:auto;
}
.classTitleSkills{
    text-align:center;
    font-size:40px;
    padding-bottom:1%;
}
.classSubtitleSkills{
    padding-bottom:3%;
    font-size:25px;
}
.divInfoSkills{
    text-align:center;
    background-color: #eef0f2;
    color:#001219;
    padding-top:5%;
}
.itemTitleSkill {
    font-size:20px;
}
.itemIconSkill{
    font-size:40px;
}