.classMain {
    background-color:#eef0f2;
}
.divInfoHome{
    display:flex;
}
.divInfoH {
    width:20%;
    color:#000814;
    padding:13% 10% 10% 10%;
}
.divInfoHome h1 {
    font-size:40px;
}
.divInfoHome h2 {
    font-size:30px;
}
.divInfoHome h3 {
    font-size:25px;
}
.btnContactHome{
    margin-top:5%;
    padding:5px 15px 5px 15px;
    border:none;
    background-color:#001219;
    color: #fafaff;
    border-radius:5px;
    font-size:20px;
}
.btnContactHome:hover {
    cursor: pointer;
    background-color:#4B6E8F;
    color: #001219;
}
.divImageHome{
    width:30%;
    margin:auto;
}
.classImageHome{
    width:100%;
    border-radius:50%;
    border: 3px solid white;
}
.divSkills {
    width:60%;
    text-align:center;
    display:grid;
    grid-template-columns:repeat(4,200px);
    grid-template-rows:repeat(5,100px);
    margin:auto;
}
.divSkills{
    padding-bottom:4%;
}
.classTitleSkills{
    text-align:center;
    margin-bottom:5%;
    font-size:40px;
}
.divInfoSkills{
    background-color: #eef0f2;
    color:#001219;
    padding-top:5%;
}