.classFooter {
    background-color:#4B6E8F;
    color: #fafaff;
    padding-top:1%;
    text-align:center;
}
.divSocialNetworks {
    padding:10px;
}
.itemSocialNetwork {
    padding:10px;
    font-size:25px;
    color:#fafaff;
    margin:0% 1% 0% 0%;
}
.itemSocialNetwork:hover {
    color:#001219;
}